{# src/Pentalog/BlogBundle/Resources/view/Blog/view.html.twig #}

{% extends "PentalogBlogBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ article.title }}
{% endblock %}

{% block pentalogblog_body %}

  {% include 'PentalogBlogBundle:Blog:article.html.twig' %}

  <p>
    <a href="{{ path('pentalog_blog_homepage') }}" class="btn btn-default">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('pentalog_blog_edit', {'slug': article.slug}) }}" class="btn btn-default">
      <i class="icon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('pentalog_blog_delete', {'slug': article.slug}) }}" class="btn btn-default">
      <i class="icon-trash"></i>
      Supprimer l'article
    </a>
  </p>

{% endblock %}