{# src/Pentalog/BlogBundle/Resources/view/Blog/view.html.twig #}

{% extends "PentalogBlogBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - {{ article.title }}
{% endblock %}

{% block pentalogblog_body %}

  <h2>
    {# On vérifie qu'une image soit bien associée à l'article #}
    {% if article.image is not null %}
        <img src="{{ article.image.url }}" alt="{{ article.image.alt }}" />
    {% endif %}
    {{ article.title }}
  </h2>
  <i>Par {{ article.author }}, le {{ article.date|date('d/m/Y') }}</i>

  {% if article.categories.count > 0 %}
    - Catégories :
    {% for categorie in article.categories %}
      {{ categorie.name }}
      {% if not loop.last %} - {% endif %}
    {% endfor %}
  {% endif %}
      
  <div class="well">
    {{ article.content }}
  </div>
      
  {% if competences|length > 0 %}
    <div>
      Compétences utilisées dans cet article :
      <ul>
        {% for competence in competences %}
          <li>{{ competence.competence.name }} : {{ competence.level }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <p>
    <a href="{{ path('pentalog_blog_homepage') }}" class="btn btn-default">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('pentalog_blog_edit', {'slug': article.slug}) }}" class="btn btn-default">
      <i class="icon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('pentalog_blog_delete', {'slug': article.slug}) }}" class="btn btn-default">
      <i class="icon-trash"></i>
      Supprimer l'article
    </a>
  </p>

{% endblock %}